body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  background-color: #d1eafa;
}

#title {
  font-family: verdana;
  font-size: 3rem;
}

.counterStyle {
  width: 55%;
  padding:25px;
  color: black;
  font-size: 75px;
  text-align: center;
  margin:50px;
  border: 2px solid black;
}

.box {
  display: flex;
  width: 50%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 65px;
  height: 65px;
  background-color: #0599ff;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.resetStyle {
  width: 120px;
  border-radius: 20px;
  padding:15px;
  background-color: #0599ff;
  text-align: center;
  margin: 20px;
  cursor: pointer;
  color: white;
  font-size: 30px;
  position: relative;
  top:30px;
  font-weight: bold;
}
